
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
	background-color: #f4f5f7;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
	text-decoration: none;
	color: black;
}

.logo {
	font-size: 1.45em;
	width: 40px;
	margin-left: 20px;
    margin-top: 10px;
}

.main-nav {
	margin-top: 5px;
	display: flex;	
}
.main-nav a {
	padding: 15px 10px;
	text-transform: uppercase;
	text-align: center;
	display: block;
	color: #ffffff;
	font-size: .99em;
}

.main-nav a:hover {
	color: #718daa;
}

.header {
	position: fixed;
	padding: 0 20px;
	padding-top: .5em;
	padding-bottom: .5em;
	flex-direction: column;
	align-items: center;
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width:100%;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 999;
}

/*mobile nav */
#hamburger-icon {
	margin: auto 0;
	display: none;
	cursor: pointer;
	margin-right: 10px;
  }
  
  #hamburger-icon div {
	width: 35px;
	height: 3px;
	background-color: white;
	margin: 6px 0;
	transition: 0.4s;
  }
  
  .open .bar1 {
	-webkit-transform: rotate(-45deg) translate(-6px, 6px);
	transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .open .bar2 {
	opacity: 0;
  }
  
  .open .bar3 {
	-webkit-transform: rotate(45deg) translate(-6px, -8px);
	transform: rotate(45deg) translate(-6px, -8px);
  }
  
  .mobile-menu {
	display: none;
	position: absolute;
	top: 89px;
	left: 0;
	height: auto;
	background-color: #f4f4f4;
	border: 1px solid #a2a2a2;
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:15px;
	width: -webkit-fill-available;
	margin: 0px 20px 0px 20px;
  }

  .open .mobile-menu {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;	
  }
  
  .mobile-menu li {
	margin-bottom: 10px;
  }
  /*=======================================================*/

  /*foto kover*/
  .cover{
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	width: 100%;
    object-fit: cover;
	height: 100vh;
  }

  /*Texti mbi foto */
  .containerText {
	position: relative;
	text-align: center;
	color: white;
	margin-bottom: -10px;
  }

  .centerText {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: 700;
	font-size: 30px;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	padding: 10px;
  }

.welcomeSection{
	background-color: #ffffff;
	padding: 30px;
}
/*=======================================================*/


.iconContainer{
	display:block; 
	width:100%;
	padding: 20px;
}

.divSplit{
	width: 50%; 
	float: left; 
	text-align: center;
	padding: 10px;
}

/*Stili i faqes login */

input[type=text], input[type=password], input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
}

.buttonContainer{
	display: flex;
}
.submitButton {
	background-color: #2196f3;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	width: 100%;
  }
  
  .submitButton:hover {
	opacity: 0.8;
  }
  
  .imgContainer {
	text-align: center;
	margin: 24px 0 12px 0;
  }
  
  img.avatar {
	width: 40%;
	border-radius: 50%;
  }
  
  .container {
	padding: 16px;
  }
  
  .forgotPassword {
	float: right;
	font-size: 14px;
  }

  .loginForm{
	width: 50%;
	margin: auto;
  }

  .registerForm{
	width: 50%;
	margin: auto;
  }

  .accountButton{
	padding: 10px 3px!important;
  }

  .registerButton{
	background-color: indianred;
    color: white;
    padding: 14px 20px;
    margin: 8px 10px 8px 0;
    border: none;
    font-size: 13.3px;
    text-align: center;
    width: 100%;
  }
  
  .backContainer{
	display: flex;
	margin: 20px 0;
  }
  
  /*Kycu dhe Regjistrou button ne navbar */
  
  .loginButton {
	background-color: #04aa6d00;
	color: white;
	border: solid 1px white;
	border-radius: 30px;
	width: 100%;
	padding: 3px 10px;
	font-size: .99em;
	vertical-align: top;
	height: 35px;
  }

  .userIcon{
	width: 14px;
	vertical-align: middle;
  }

  /* faqja rreth ferizajit*/
  .tekstiii{
	margin: 0.5em 0;
	display: block;
	font-size: 0.875em;
    font-size: calc(1em * 0.875);
    line-height: 1.6;
	padding: 1%;
  }
  .titulli{
	margin-top: 10px;
	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem;
	padding: 1%;
  }

  .paragrafi{
	margin: 0.5em 0;
	display: block;
	font-size: 0.875em;
    font-size: calc(1em * 0.875);
    line-height: 1.6;
	padding: 1%;
	
  }

  .Historia{
	margin-top: 10px;
	font-family: 'Roboto', sans-serif;
	font-size: 1.0rem;
	padding: 1%;

  }

  .pargrafihistoria{
	margin: 0.5em 0;
	display: block;
	font-size: 0.875em;
    font-size: calc(1em * 0.875);
    line-height: 1.6;
	padding: 1%;

  }

  .foto{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 144%;
	max-width: 400px;
    height: auto;
  }
  
/*Media Queries */

@media only screen and (max-width: 900px) {
	header nav {
	  display: none;
	}
  
	#hamburger-icon {
	  display: block;
	}
	a{
		color: rgba(0, 0, 0, 0.7);
	}
	.loginForm{
		width: 100%;
	  }

	.loginButton {
		background-color: #2196f3;
		color: white;
		border: solid 1px white;
		border-radius: 30px;
		width: 100%;
		padding: 10px 10px;
		
	  } 
  }

